//  Colours
$white: #fff;
$blue: #fff;
$backgroundColor: #262676;

//  Banner size
$width: 300px;
$height: 600px;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: none;
}


